*{
    box-sizing: border-box;
}

body{
    background-color: rgb(236, 202, 6);
    margin:0;
}

#container{
    max-width: 1024px;
    margin: auto;
}

h1{
    text-align: center;
    font-style: italic;
    margin: 0;
    padding: 1vh;
}
header{
    position: sticky;
    top:0;
    background-color: rgb(30, 137, 187);
    color: white;
    margin: 0;

}

#container>figure{
    margin:0;
    height:40vh;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main{
    background-color: white;
}

nav{
    background-color: rgb(30, 137, 187);
    padding: 1vh;
    text-align: center;
}

nav ul{
    display: inline-block;
    margin:0;
    padding:0;
    text-align: center;
}

nav ul li{
    padding: 1%;
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: white;
}

#main_content{
    padding: 0 2%;
}

#main_content_body{
    padding: 0 0 2% 0;
    display:flex;
}

article{
    flex:4;
    padding: 0 3% 0 0;
}

article p{
    margin: 0;
    text-align: justify;
}

#movies{
    padding: 3% 1%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1%;
}

#movies figure{
    margin:0;
    overflow: hidden;
}

#movies figure img{
    width:100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
}

h2{
    color: rgb(236, 202, 6);
    margin:0;
    padding: 3% 0;
}

aside{
    flex:2;
    background-color: rgb(30, 137, 187);
    color: white;
}

aside figure{
    margin: 5% 15%;
}

aside figure img{
    border: 1px solid white;
}

figcaption h3{
    margin:0;
    text-align: center;
}

figcaption>p{
    margin: 0;
    text-align: center;
    font-size: 80%;
    font-style: italic;
}

aside>p {
    padding:3%;
    text-align: justify;
}

footer{
    text-align: center;
    color:white;
    background-color: rgb(8, 41, 104);
    padding: 0.4em;
}